@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Itim&display=swap');

body{
  background-color:#706556;;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Itim', cursive;
}

.cDiv{
  background-color: rgb(206 199 191 / 87%);
  height: 397px;
  width: 300px;
  border-radius: 19px;
  /* align-items: center; */
  display: inline-block;
  /* flex-direction: column; */
  text-align: center;
  
}

.MuiButton-text {
    padding: 4px 0px;
}

ol{
  font-family: 'Itim', cursive;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 186px;
}

li{
  display: inline;
  margin: 16px;
  width: 40px
}

.cbtn{

  background-color: grey;
  border: 2px solid black;
  border-radius: 15px;

}

.cDiv:hover{
  box-shadow: 18px 18px 2px 2px grey;

}

.cbtn:hover{
  color: aliceblue;
}
.btn:hover{
  color: aliceblue;
}
.btn{
  display: inline;
  background-color: grey;
  border: 2px solid black;
  border-radius: 15px;
}

div.rohal {
  margin: 4px;
}

input {
  font-family: 'Itim', cursive;
  margin: 0px 5px;
  text-align: center;
  border: 2px solid;
  border-radius: 8px;
  outline: none;
  margin-left: 12px;
}

.navli{
  text-decoration: none;
  padding: 5px 5px;
  margin: 5px 5px;
  display: block;
  color: black;
}
